<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            {% for skill in skills %}
                <li class="list-inline-item">
                    <i class="fa{% if skill.icon == 'database' %}s{% else %}b{% endif %} fa-{{ skill.icon }}"></i> {{ skill.name }}
                </li>
            {% endfor %}
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i> Web Development</li>
            <li>
                <i class="fa-li fa fa-check"></i> Artificial Intelligence</li>
            <li>
                <i class="fa-li fa fa-check"></i> Data Analysis</li>
        </ul>
    </div>
</section>